#navbar {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: fit-content;
  min-width: 350px;
  bottom: 0;
  border-radius: 6px 6px 0 0;
  background-color: var(--purple);
  filter: drop-shadow(2px 2px 2px);
  list-style: none;
  padding: 15px;
  gap: 10px;
}

#navbar a {
  color: var(--font-light);
  text-decoration: none;
}

#navbar a:hover {
  color: var(--font-dark-gray);
}
