:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Playfair Display", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background-color: lightgray;

  --purple: #423250;
  --orange: #ff7448;
  --gray: #edf0f8;

  --font-dark: #53485f;
  --font-dark-gray: #abaeb9;
  --font-light: #ffffff;
  --font-light-gray: #b8afc2;
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--gray);
}
